* {
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.5s linear;
}

body {
  margin: 0;
  padding: 0;
  z-index: 1000;
  background: hsl(0, 0%, 95%);
}

html {
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*==================== media queries =================*/


@media (max-width: 1149px) {

  .table-container {
    width: 100%;

  }


  .salary-left- input {
    width: 100%;
    border: .1rem solid hsl(0, 7%, 81%);
    border-radius: .5rem;
    padding: .5rem;
  }

  .salary-right- input {
    width: 100% !important;
  }

  .salary-right- select {
    width: 100%;
  }

  .salary-left- select {
    width: 100%;
  }

  .leave-details-container {
    width: 70%;
  }

}

@media (max-width: 991px) {

  .header {
    padding: 1.5rem;
  }


  .login {
    margin-top: 4rem;
  }

  .login-container {
    margin-top: -12rem !important;
}


}

@media (max-width: 888px) {

  .footer-box:nth-child(3) {
    margin: 1.2rem 0rem;
  }

}

@media (max-width: 887px) {

  .employee-container {
    width: 90%;
  }

  .employee-left input{
      width: 100%;
  }
  
  .employee-left select{
      width: 100%;
  }
  
  
  
  .employee-right input{
      width: 100%;
  }
  
  .employee-right select{
      width: 100%;
  }
  

}


@media (max-width: 835px) {

  .edit-department-container {
    width: 80%;
  }

}

@media (max-width: 799px) {

  html {
    font-size: 70%;
  }

}


@media (max-width: 768px) {


  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: hsl(0, 0%, 17%);
  }

  .nav a {
    border: .1rem solid hsl(0, 3%, 69%);
    width: 95%;
    text-align: center;
    padding: 1.5rem;
    border-left: .3rem solid hsl(120, 97%, 30%);
    border-radius: .5rem;
    margin: 1rem 0rem;
    color: #fff !important;

  }


  .hide {
    transform: translateX(-100%);
  }

}

@media (max-width: 732px) {

  .department-containers {
    width: 80%;
  }

}

@media (max-width: 649px) {

  .sick-leave-container {
    width: 100%;
    overflow-x: auto !important;

  }


}


@media (max-width: 635px) {

  .profile-container {
    width: 85%;
  }

}


@media (max-width: 629px) {

  .login {
    background: #fff;
    padding: 2rem 5%;
    max-width: 80%;
  }

}

@media (max-width: 574px) {

  .login {
    width: 80%;
    margin-top: -8rem;
  }

  html {
    font-size: 70%;
  }

}


@media (max-width: 566px) {
  
  .edit-employee-container{
    width: 90%;
}

}

@media (max-width:549px) {
  
  .sick-leave-container {
    overflow-x: auto !important;

  }

}


@media (max-width: 557px) {

  .add-salary-container {
    width: 80%;
  }

}


@media (max-width: 529px) {

  .table-container {
    max-width: 100% !important;
    overflow-x: scroll !important;
    white-space: nowrap;
  }


  table thead tr th {
    padding: 1rem 1.5rem !important;
  }

}

@media (max-width: 522px) {
  .employeeSickLeave-container{
    width: 95%;
}


.employeeSickLeave-inner form select{
  width: 26rem !important;
}


.employeeSickLeave-inner form input{
  width: 26rem !important;
}


}


@media (max-width: 493px) {

  .sick-leave-container {
    max-width: 90%;
    overflow-x: scroll !important;
  }

}


@media (max-width: 450px) {

  html {
    font-size: 70%;
  }

}

@media (max-width: 438px) {

  .sick-leave-container {
    max-width: 95%;
    overflow-x: scroll !important;
  }

}

@media (max-width: 428px) {

  .leave-details-container {
    width: 85%;
  }

}


@media (max-width: 425px) {

  .sick-leave-container {
    max-width: 100%;
  }

  .sick-leave-container table {
    overflow-x: auto !important;
  }

  .sick-leave-container table thead tr th:nth-child(2) {}

}

@media (max-width: 358px) {

  .right-container span {
    font-size: 1rem !important;
  }

}

@media (max-width: 338px) {
  
  
.employeeSickLeave-inner form select{
  width: 24rem !important;
}


.employeeSickLeave-inner form input{
  width: 24rem !important;
}


}


@media (max-width: 327px) {

  .food-icon-container {
    flex-direction: column;
  }

}



/*manage-department-container- */