.about_us_container {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.about_us_container .about_us_right img {
    width: 100%;
    height: 100%;
}

.about_use_left {
    flex: 1 1 20rem;
}

.about_use_left span {
    font-size: 1.9rem;
}

.about_use_left p {
    margin-top: 1rem;
    line-height: 1.6;
}

.about_use_left h1 {
    margin-bottom: 1rem;
}

.about_us_right {
    flex: 1 1 20rem;
}

.about_use_left .about {
    background: purple !important;
}

.vision_container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1.2rem;
}

.vision_box{
    flex: 1 1 25rem;
    border: .1rem solid hsl(300, 69%, 49%);
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: 0rem .5rem 1rem hsla(316, 80%, 47%, 0.1);

}

.vision_box:hover{
    box-shadow: 0rem 1rem 1.5rem rgba(0, 0, 0, 0.3);

}

.vision_box p{
    max-width: 30rem;
    line-height: 1.5;
}

.our_values_container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.our_values_box{
    flex: 1 1 25rem;
    border: .1rem solid hsl(300, 69%, 49%);
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: 0rem .5rem 1rem hsla(316, 80%, 47%, 0.1);
    margin-bottom: 1rem;

}

.our_values_box:hover{

    box-shadow: 0rem 1rem 1.5rem rgba(0, 0, 0, 0.3);

}

.hide_{
    display: none;
}