.contact-inner{
    display: flex;
    align-items: center;
    padding: 1.5rem 5%;
    gap: 2rem;
    margin-bottom: 10rem;
    flex-wrap: wrap;
}

.contact-left{
    display: flex;
    align-items: center;
}

.contact-lef{
    flex: 1 1 25rem;
}

.contact-lef span{
    font-size: 1.5rem;
}

.contact-right{
    flex: 1 1 25rem;
    margin-bottom: -7rem;
}


.contact-right form{
    display: flex;
    flex-direction: column;
}

.contact-right form input{
    margin: 1rem 0rem;
    border: .1rem solid hsl(0, 4%, 71%);
    width: 100% !important;
    padding: .8rem;
    border-radius: .5rem;
}


.contact-right form textarea{
    margin: 1rem 0rem;
    border: .1rem solid hsl(0, 4%, 71%);
    width: 100% !important;
    padding: .8rem;
    border-radius: .5rem;
}

.contact-contaner h2{
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 2rem;
}