.detials-container {
    display: flex;
    align-items: center;
    min-height: 40vh;
}

.detials-container span {
    margin-left: 2rem;
    font-size: 1.6rem;
}

.pan {
    color: hsl(197, 89%, 40%);
    margin-left: .7rem !important;
}

.left-con img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details-con {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: -5rem;
    padding: 0rem 9%;
}

.left-con {
    flex: 1 1 25rem;
}

.right-con {
    flex: 1 1 25rem;
}

.right-con span {
    color: #333;
    font-weight: 400;
    font-size: 1.2rem;
}


.right-con p {
    line-height: 1.7;
}

.quantity-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quantity-left span {

    color: red;

}

.quantity-right button {
    margin: 0rem 1rem;
}

.heart {
    color: #fff;
    background: red;
    width: 2rem;
    height: 2rem;
    line-height: 2;
    font-size: 2rem;
    border-radius: 50%;
    text-align: center;
    padding: .5rem;
    cursor: pointer;
}

.quantity-right button {
    width: 2rem;
    height: 2rem;
    line-height: 2;
    background: #fff;
    color: #333;
    cursor: pointer;
}

.plus {
    color: #fff;
    background: red;
    width: 2rem;
    height: 2rem;
    line-height: 2;
    font-size: 2rem;
    border-radius: 50%;
    text-align: center;
    padding: .5rem;
    cursor: pointer;
}

.quantity-right {
    display: flex;
    align-items: center;
}

.bottom-con {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin: 2rem 0rem;
}

.btnFavourite{
    color: #fff;
    background: hsl(197, 94%, 42%);
    padding: .8rem 1.5rem;
    border-radius: 3rem;
    cursor: pointer;
}

.btnCart{
    color: #fff;
    background: hsl(39, 96%, 45%);
    padding: .8rem 1.5rem;
    border-radius: 3rem;
    cursor: pointer;
}

.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.2rem 0rem;
}

.cont button{
    margin-left: 2rem;
    color: #fff;
    background: red;
    padding: 1rem 4rem;
    cursor: pointer;
}

.details h2{
    padding-top: 1.8rem !important;
    font-weight: 300 !important;
}

.item_desc{
    margin-top: 3rem;
}

.item_description h2{
    font-weight: 300 !important;
}