.employeeDetails-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 50%;
    margin: -74rem auto;
    padding: 1.2rem;
    border-radius: .5rem
}

.emp-details-container{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.emp-left{
    display: flex;
    flex-direction: column;
}


.emp-left span{
    padding: .5rem 0rem;
    font-weight: 800;
}

.emp-right{
    display: flex;
    flex-direction: column;
}

.emp-right span{
    padding: .5rem 0rem
}