.explore_more_Banner {
    display: flex;
    align-items: center;
    background: linear-gradient(65deg, hsl(39, 79%, 72%), #fff);
    padding: 1rem 15%;
    height: 24rem;
    margin-bottom: 8rem !important;
}

.food_icon {
    font-size: 1.7rem;
    color: hsl(39, 97%, 34%);
}

.left-burner h4 {
    margin: 1rem 0rem;
    color: hsl(39, 99%, 35%);
    font-size: 2rem;

}

.left-burner p{
    font-size: 1.2rem;
    color: hsl(39, 94%, 26%);
}

.right-burner img{
    width: 100%;
    height: 100%;
}

.burner_con{
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    margin-top: 8rem;
}

.right-burner{
    flex: 1 1 15rem;
}

.left-burner{
    flex: 1 1 15rem;
}

.explore_more_coontainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;

}

.explore_more_coontainer .explore_more_box{
    flex: 1 1 15rem;
    position: relative;
    cursor: pointer;
    background: hsl(351, 47%, 84%) !important;
    padding: 1.5rem;
    border: .1rem solid hsl(0, 2%, 69%);
    border-radius: .5rem;
    height: 35rem !important;
}

.explore_more_coontainer .explore_more_box .content p{
    color: #fff;
}
.explore_more_coontainer .explore_more_box img{
    width: 100% !important;
    height: 100%;
    object-fit: contain;
}