.footer-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-box img{
    width: 2rem;
    margin-bottom: .5rem;
}

.footer-box:nth-child(1){
    display: flex;
    flex-direction: column;
}

.footer-box{
    display: flex;
    flex-direction: column;
    flex: 1 1 15rem;
}

.footer-box h3{
    color: hsl(39, 100%, 26%);
}

.footer-box a{
margin: .5rem 0rem;
color: #333;

}

.footer-bottom{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin:1rem 0rem;
    padding: 2rem 5%;
    text-align: center;
}

.footer-left{
    flex: 1 1 18rem;
}

.footer-right{
    flex: 1 1 18rem;
}

.ST{
    color: hsl(197, 95%, 37%);
}

.footer-box:nth-child(3){
    margin-top: -4rem;
}