.reset-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    padding: 2rem 5%;
}

.reset-container .reset-inner{
    background: #fff;
    width: 30rem;
    padding: 1.2rem;
    border-radius: .5rem;
}

.reset-container h2{
    color: #333;
    font-weight: 300;
    font-size: 1.7rem;
}

.reset-inner form{
    display: flex;
    flex-direction: column;
}

.reset-inner form input{
    border: .1rem solid hsl(0, 18%, 88%);
    padding: .7rem;
    width:90%;
}

.reset-inner form button{
    width: 40%;
    margin-top: 1rem;
    background: linear-gradient(65deg, hsl(39, 93%, 47%), hsl(300, 82%, 55%));
    color: #fff;
    padding: .8rem 1.5rem;
    border-radius: 3rem;
    cursor: pointer;
}