.heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -75rem;
}

.heading-container h2 {
    font-weight: 300;
    font-size: 1.8rem;
}

.manage-employee-container- {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2%;
}

.manage-employee-left input {
    border: .1rem solid hsl(0, 8%, 85%);
    padding: .8rem;
    width: 20rem;
    border-radius: .5rem;
}

.manage-employee-right .btnAdd {
    color: #fff;
    background: green;
    padding: 1rem 2rem;
    border-radius: 3rem;
    cursor: pointer;
}

.table-container {
    margin-left: 20rem;
    padding: 0rem 2%;
    margin-top: 2rem;
    width: 78%;
}

.table-container tbody tr td:nth-child(5) button {
    margin-left: 1rem;
    color: #fff;
    background: purple;
    padding: .8rem 2rem;
    border-radius: 3rem;
    cursor: pointer;
}


.table-container tbody tr td:nth-child(5) button:nth-child(2) {
    margin-left: 1rem;
    color: #fff;
    background: green;
    padding: .8rem 2rem;
    border-radius: 3rem;
    cursor: pointer;
}

.btnEdit {
    margin-left: 1rem;
    color: #fff;
    background: green;
    padding: .8rem 2rem;
    border-radius: 3rem;
    cursor: pointer;
}


.table-container tbody tr td:nth-child(5) button:nth-child(3) {
    margin-left: 1rem;
    color: #fff;
    background: red;
    padding: .8rem 2rem;
    border-radius: 3rem;
    cursor: pointer;
}


.table-container tbody tr td:nth-child(5) button:nth-child(4) {
    margin-left: 1rem;
    color: #fff;
    background: hsl(197, 88%, 37%);
    padding: .8rem 2rem;
    border-radius: 3rem;
    cursor: pointer;
}