.manage_promise_container{
    margin: 10rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.manage_promise_inner{
    margin-top: 1rem;
}

.manage_promise_inner form{
    background: #fff;
    padding: 2rem;
    width: 30rem;
    border-radius: .5rem;
}

.manage_promise_inner form h3{
    text-align: center;
}

.form-container{
    display: flex;
    flex-direction: column;
}

.form-container input{
    margin: 1rem 0rem;
    padding: .9rem;
    width: 25rem;
    border: .1rem solid hsl(0, 4%, 79%);
    border-radius: .5rem;
}

.form-container textarea{
    margin: 1rem 0rem;
    padding: .8rem;
    width: 25rem;
    border: .1rem solid hsl(0, 4%, 79%);
    border-radius: .5rem;
}

.manage_promise_inner form button{
    padding: .8rem 3rem;
    color: #fff;
    border-radius: 3rem;
    background: hsl(39, 94%, 41%);
    cursor: pointer;
}
