.menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

.menu-inner{
    display: flex;
    flex-wrap: wrap;
}

.menu-inner a {
    color: #333;
    margin-left: 1.5rem;
    cursor: pointer;
    color: hsl(39, 94%, 33%);
    border: .1rem solid orange;
    padding: 1rem 1rem;
}


.menushOW{
    background: orange !important;
    color: #fff !important;
}

.menuHide{
    background: none;
}

.food-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.food-container .food-box{
    background: hsl(0, 71%, 85%);
    padding: 1rem;
    position: relative;
    border-radius: .5rem;
    flex: 1 1 25rem;
}

.food-box img{
    width: 20rem;
    height: 20rem;
    object-fit: contain;
    cursor: pointer;
}

.heartIcon{
    width: 2.5rem;
    height: 2.5rem;
    line-height: 3;
    padding: .5rem;
    font-size: 3rem;
    cursor: pointer;
}

.price-{
    position: absolute;
    top: 10rem;
    right: 1rem;
}

.price- span{
    width: 2.5rem;
    height: 2.5rem;
    line-height: 3;
    padding: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    background: hsl(197, 80%, 41%);
    color: #fff;
    border-radius: 50%;

}

.food-box .content{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-top: -3rem;
}

.food-box .content span{
    color: hsl(0, 91%, 25%);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.order{
    color: #fff;
    border: 3rem;
    background: red;
    padding: .8rem 1.5rem;
    cursor: pointer;
    border-radius: 3rem;
}

.order{
    background: hsl(39, 96%, 34%);
}