body {
    background: linear-gradient(270deg, hsl(351, 55%, 82%), #fff);
}


.order-co {
    display: flex;
    align-items: center;
    padding-top: 12rem;
    margin-bottom: 2rem;
    margin-top: -5rem;
}

.order-co span {
    font-size: 1.2rem;
}

.order-sub {
    display: grid !important;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    column-gap: 3rem;
    background: #fff;
    padding: 1rem 3% !important;
    align-items: center;
    white-space: nowrap !important;
    width: 100%;
}

.order-content span img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;

}

.food-left img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}

.food-right img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}

.order-inners {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10rem;
    width: 100% !important;
    /*
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    column-gap: 3rem;
    width: 100% !important;
    align-items: center;
    justify-content: center;
    padding: 1rem 3%;

    */

}

/**/


.order-innerss .map-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    padding: 1rem 5%;
    margin: 1rem 0rem;
    align-items: center;
    justify-content: center;
    border-bottom: .2rem solid pink;
    width: 100%;
}


.order-innerss {
    padding: 0rem 1%;
}

.order-innerss span:nth-child(1) {
    margin-left: -3rem;
}

.order-innerss span:nth-child(4) {
    margin-left: -2rem;
}


.order-innerss span:nth-child(5) {
    margin-left: 4rem;
    text-align: center;
}

.order-innerss a {
    margin-left: -.6rem;
    color: blue;
    cursor: pointer;
}

/**/


.food-left {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.food-right {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.food-left p {
    font-size: 1.1rem;
    width: 2rem !important;
}

.not-found {
    color: red;
    text-align: center !important;
    font-size: 1.2rem;
}

.user-address-info {
    margin-top: 5rem;
    padding: 2rem 5%;
}

.user-address-info span {
    color: hsl(120, 89%, 22%);
    font-size: 1.2rem;
}

.user-heading {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 5rem;
    padding: 2rem 3%;
    align-items: center;
    text-align: center;
    background: hsl(197, 93%, 38%);
}

.user-heading span {
    color: #fff;
}

.user-order-info {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 5rem;
    padding: 2rem 3%;
    align-items: center;
    text-align: center;
}

.user-order-info span {
    margin: 1rem 0rem;
}

.address-results {
    display: flex;
    flex-direction: column;
    background: black;
    width: 35rem;
    padding: 2rem;
    padding: 2rem;
    border-radius: .5rem;
    margin: 4rem auto;
    color: #fff !important;
}

.address-results .address-inner {
    display: flex !important;
    align-items: center !important;
    border-bottom: .2rem solid hsl(0, 11%, 89%);
}

.address-left {
    display: flex;
    flex-direction: column;

}

.address-left span {
    margin: .6rem 0rem;
}

.address-right {
    display: flex;
    flex-direction: column;
}

.address-right span {

    margin: .7rem 0rem;
    color: lime;
}

.address-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.show-address {
    opacity: 2;
}

.hide-address {
    opacity: 0;
}

.anch-color {
    color: hsl(240, 99%, 63%);
    font-weight: 300;
    cursor: pointer;
}


.payment-status {
    position: sticky;
    top: 20rem;
    /*z-index: 999;*/
}

.payment-status .payment-status-inner {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 1.5rem;
    margin-bottom: 3rem !important;
    margin-top: -10rem !important;
    width: 15rem !important;
    height: 48rem;
    z-index: 1000 !important;
}

.payment-status .payment-status-inner span {
    color: #333;
    font-size: 1.4rem;
}

.payment-status .payment-status-inner label {
    padding-top: 2rem !important;
    display: flex;
    align-items: center;
    margin-top: -1rem;
}

.payment-status .payment-status-inner label input {
    margin-right: 1rem;
}

.radio-container input {
    margin-top: 1rem;
}

.radio-container {
    display: inline-flex !important;
    align-items: center !important;
    text-align: center !important;
}

.radio-container label {
    margin-left: 1rem;
    display: flex;
    align-items: center !important;
}

.price_Filter {
    margin-top: 2rem;
}

.date_filter {
    margin-top: 1.5rem;
}

.date-container {
    margin-top: 2rem;
    margin-bottom: -1rem;
}

.date-container input {
    border: .1rem solid hsl(0, 13%, 87%) !important;
    padding: .6rem 1.5rem;
    cursor: pointer;
}

.date-container button {
    color: #fff;
    background: hsl(197, 78%, 51%);
    padding: .8rem 1.8rem;
    border-radius: 3rem;
    cursor: pointer;
}

.orders-container {
    display: flex;
    align-items: center;
}


.payment-status {
    display: flex;
    align-items: center;
    margin-top: 12rem;
    padding: 2rem 2%;
}

.order-sub div {
    min-width: 600px !important;
    max-width: 10rem;

}


.header-container {
    overflow-x: auto !important;
    white-space: nowrap;
}

.header-container- {
    position: relative;
    top: -60rem;
    left: 15rem;
    width: 50%;
    z-index: auto !important;
}

.shipp_status {
    margin-top: 2rem !important;
    color: lime !important;
    font-size: 1.1rem;
}


.shipping-options select {
    border: .1rem solid hsl(0, 6%, 80%);
    padding: .5rem 1.4rem;
    border-radius: .5rem;
    cursor: pointer;
}

.btnSaveStatus {
    color: #fff;
    padding: .8rem 1.5rem;
    background: hsl(197, 91%, 44%);
    margin-left: 2rem;
    border-radius: 3rem;
    cursor: pointer;
}

.last {
    width: 1rem;
    height: 10rem;
    background: hsl(120, 97%, 38%);
    border-radius: 1rem;
}

.icon-smile {
    animation: moveUpDown 3s infinite alternate;
}

@keyframes moveUpDown {

    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-2rem);
    }

}

.showTrack {

    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);

}

.hideTrack {
    clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 0);
}

.surround-left {
    display: flex;
}

.order-paid {
    margin-left: -10rem;
    margin-bottom: -1rem;
}

.paid {
    margin-right: -10rem;
    margin-bottom: -1rem;

}

.shipped {
    margin-right: -10rem;
    margin-bottom: -1rem;
}

.shipped-date {
    margin-left: -10rem;
}


.deliver-date {
    margin-top: -2rem;
    margin-left: -10rem;
}

.parcel_num {
    margin-top: 0.6rem;
}

.shipped {
    margin-bottom: -2.2rem;
}

.shipped span {
    margin-bottom: 1rem !important;
}


.addresss-inner .add-co {
    background: hsl(0, 1%, 17%);
    max-width: 38rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5rem;
    margin-top: 1rem;
    height: 92rem;
    margin-top: -2rem;
    margin-bottom: 5rem;
}

.tracking-inner {
    position: absolute;
    right: 25rem;
    background: hsl(0, 1%, 17%);
    width: 35rem;
    padding: 2rem;
    border-radius: .5rem;
    margin-top: -20rem;
    height: 38rem;
}

.tracking-inner {
    padding-left: -10rem !important;
    color: #fff;
}

.track {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.addresss-inner .add-co h2 {
    color: #fff;
    margin-left: -22rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
}

.order-num {
    margin-left: -18rem;
    color: #fff;
    font-weight: 800;
}

.delivery_ {
    margin-left: -15.6rem;
    margin-top: 1rem;
    color: #fff;
    font-weight: 800;

}

.delivered {
    color: #fff;
    font-weight: 800;
    margin-right: .2rem;
}

.ship {
    margin-left: -19rem;
    margin-top: 1rem;
    /*  background: hsla(0, 11%, 93%, 0.763); */
    border-radius: 3rem;
    padding: 1rem 1.5rem;

}

.shipment {
    margin-left: 10rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.middle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: hsl(120, 97%, 38%);
}

/*.address-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40rem;
}
*/

.addresss-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.address-info {
    color: #fff;
    font-weight: 300 !important;
    border-top: .1rem dashed hsl(0, 11%, 89%);
    border-bottom: .1rem dashed hsl(0, 11%, 89%);
    width: 100%;
    padding-top: 1rem;
}

.address-info p:nth-child(2){
    margin-top: .6rem;
}

.address-info p {
    margin-top: -.8rem;
}

.payment-methods {
    color: #fff;
    font-weight: 300 !important;
    border-top: .1rem dashed hsl(0, 11%, 89%);
    border-bottom: .1rem dashed hsl(0, 11%, 89%);
    width: 100%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.payment-methods span {
    font-weight: 800;
}

.payment-methods h3 {
    font-weight: 300;
}

.item-price {
    display: flex;
    justify-content: space-between;
}

.Order-summary {
    color: #fff;
    font-weight: 300 !important;
    border-top: .1rem dashed hsl(0, 11%, 89%);
    border-bottom: .1rem dashed hsl(0, 11%, 89%);
    width: 100%;
    padding-top: 1rem;
}

.Order-summary span {
    margin-top: 1rem;
}

.delivery- {
    display: flex;
    justify-content: space-between;
}

.order-amount {
    display: flex;
    justify-content: space-between;
}

.order-amount {
    margin-bottom: 1rem;
}

.delivery-methods {
    color: #fff;
    font-weight: 300 !important;
    border-top: .1rem dashed hsl(0, 11%, 89%);
    border-bottom: .1rem dashed hsl(0, 11%, 89%);
    width: 100%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.track-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.track-right {
    margin-right: -15.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: .6rem;
}

.track-right a {
    color: hsl(197, 91%, 41%);
    font-size: .8rem;
    font-weight: 800;
}

.times-container {
    position: relative;
    top: -15rem;
    right: -5rem;
    color: red;
    font-size: 2rem;
}

.delivered {
    color: #fff;
    margin-left: -21.3rem;
}

.canceled_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: hsl(0, 1%, 17%);
    height: 30rem;
    width: 35rem;
    margin-top: -150rem;
    z-index: 1000;
    position: relative;
    border-radius: .5rem;
    color: #fff;
    font-size: 1.2rem;
}

.decrease_height {
    height: 68rem !important;
}

.decrease-margin {
    margin-top: -25rem;
}

.tracking-details {
    color: #fff;
    max-width: 35rem;
    border: .1rem dashed #fff;
    margin-top: 1.5rem;
    padding: .5rem;
    border-radius: .5rem;
}

.tracking-details p {
    line-height: 1.2;
}

.b_bottom {
    border-bottom: .1rem solid red;
}

.b_ {
    border-bottom: .1rem solid red;
}


.order-sub span:nth-child(4) {
    margin-left: -2rem;
}

.order-sub span:nth-child(5) {
    margin-left: -2.5rem;
}

.arrow-left {
    margin-top: 8rem;
    padding: 2rem 5%;
}

.view-details {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.view-details-inner span img {

    width: 8rem;
    height: 8rem;
    object-fit: cover;
    background: #fff;
    padding: .5rem;
    border-radius: .5rem;
    border: .8rem solid hsl(0, 12%, 90%);
    margin-bottom: 1rem;
}

.view-details-inner span {
    display: flex;
    align-items: center;
}

.img-con {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.view-details-inner {
    background: hsl(0, 3%, 7%);
    width: 35rem;
    padding: 2rem;
    color: #fff;
    border-radius: .5rem;
    margin: 2rem 0rem;
}

.view-details-inner h2 {
    text-align: center;
}

.hub {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    background: linear-gradient(65deg, orange, purple);
    padding: .8rem;
    height: 7rem;
    border-radius: .5rem;
    gap: 1.5rem;
}

.hub-left {
    flex: 1 1 25rem;
}

.hub-left p {
    font-size: 1.5rem;
}

.hub-right {
    flex: 1 1 25rem;
}

.btnExploreHub {
    background: #fff;
    font-size: 1.2rem;
    padding: .8rem 1.2rem;
    border-radius: 3rem;
    color: hsl(39, 96%, 31%);
}



.payment-bars {
    display: none;
}

  .payment-status-inner.show_payment_status {
    transform: translateX(0);
  }

  table{
    width: 100% !important;
    table-layout: fixed !important;
  }

  th{
    font-size: 1rem !important;
    padding: 1rem 0rem !important;
    width: 30% !important;
  }

  .details_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
  }

  .order_right{
    display: flex;
    flex-direction: column;
  }


  .order_right span{
    color: lime;
    margin: .6rem 0rem;
  }

  .order_left span{
    margin: .6rem 0rem;
  }

  .order_left{
    display: flex;
    flex-direction: column;
  }


  .img-con span img{
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    background: #fff;
    margin-bottom: 1rem;
    border-radius: .5rem;
    cursor: pointer;
  }

  .btnSaveStatus{
    background: linear-gradient(65deg, hsl(300, 83%, 51%), orange) !important;
  }

/*
        <div className='payment-status'>

          <div className='payment-status-inner'>


          <span style={{fontWeight: '800', marginBottom: '1.3rem'}}><FaFilter style={{color: 'none'}} />&nbsp;Filters</span>

            <span>Payment Status</span>


            <div className='radio-container'>

              <input type="radio" name='tapping' id='paid' value={"paid"} onChange={handle_change} />

              <span>

                <label htmlFor="paid">Paid</label>

              </span>

            </div>


            <div className='radio-container'>


              <input type="radio" name='tapping' value={"pending"} id='pending' onChange={handle_change} />


              <label htmlFor="pending">

                <span>Pending</span>

              </label>

            </div>


            <span className='price_Filter'>Price</span>

            <div className='radio-container'>

              <input type="radio" name='pricing' value={"All"} id='price' onChange={handle_price} />

              <label htmlFor="price">All</label>

            </div>

            <div className='radio-container'>

              <input type="radio" name='pricing' value={"0-50"} id='price' onChange={handle_price} />

              <label htmlFor="price">R0 - R50</label>

            </div>

            <div className='radio-container'>

              <input type="radio" name='pricing' value={"50-100"} id='price' onChange={handle_price} />

              <label htmlFor="price">R50 - R100</label>

            </div>

            <div className='radio-container'>

              <input type="radio" name='pricing' value={"100-150"} id='price' onChange={handle_price} />

              <label htmlFor="price">R100 - R150</label>

            </div>

            <div className='radio-container'>

              <input type="radio" name='pricing' value={"over150"} id='price' onChange={handle_price} />

              <label htmlFor="price">Over R150</label>

            </div>

            <span className='date_filter'>Date</span>

            <div className='date-container'>

              <input type="date" name='date_filter' value={startDate} onChange={(e) => setStartDate(e.target.value)} />

            </div>


            <div className='date-container'>

              <input type="date" name='date_filter' value={endDate} onChange={(e) => setEndDate(e.target.value)} />

            </div>

            <div className='date-container'>

              <button onClick={handle_filter}>Filter Orders</button>

            </div>


          </div>

        </div>
        */