
.payment-status .payment-status-inner {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 1.5rem;
    margin-bottom: -5rem;
    margin-top: -22rem;
    width: 15rem;
}

.payment-status .payment-status-inner span {
    color: #333;
    font-size: 1.4rem;
}

.payment-status .payment-status-inner label {
    padding-top: 2rem !important;
    display: flex;
    align-items: center;
    margin-top: -1rem;
}

.payment-status .payment-status-inner label input {
    margin-right: 1rem;
}

.radio-container input {
    margin-top: 1rem;
}

.radio-container {
    display: inline-flex !important;
    align-items: center !important;
    text-align: center !important;
}

.radio-container label {
    margin-left: 1rem;
    display: flex;
    align-items: center !important;
}

.price_Filter {
    margin-top: 2rem;
}

.date_filter {
    margin-top: 1.5rem;
}

.date-container {
    margin-top: 2rem;
    margin-bottom: -1rem;
}

.date-container input {
    border: .1rem solid hsl(0, 13%, 87%) !important;
    padding: .6rem 1.5rem;
    cursor: pointer;
}

.date-container button {
    color: #fff;
    background: hsl(197, 78%, 51%);
    padding: .8rem 1.8rem;
    border-radius: 3rem;
    cursor: pointer;
}

.orders-container {
    display: flex;
    align-items: center;
}


.payment-status {
    display: flex;
    align-items: center;
    margin-top: 12rem;
    padding: 2rem 2%;
}

.order-sub div {
    min-width: 600px !important;
    max-width: 10rem;

}

.order-sub-{

   display: flex;
   align-items: center;
   gap: 10rem;
   background: #fff;
   padding: 1rem 1rem;

   /* display: grid !important;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    column-gap: 3rem;
    background: #fff;
    padding: 1rem 3% !important;
    align-items: center;
    white-space: nowrap !important;
    width: 100%;
    */
}

.order-sub- div{
    font-size: .8rem;
}

.order-sub- div:nth-child(2){
    margin-left: 4rem;
}

.header-container {
    overflow-x: auto !important;
    white-space: nowrap;
}

.shipp_status {
    margin-top: 2rem !important;
    color: hsl(120, 86%, 29%);
    font-size: 1.1rem;
}

.shipping-options select {
    border: .1rem solid hsl(0, 6%, 80%);
    padding: .5rem 1.4rem;
    border-radius: .5rem;
    cursor: pointer;
}

.btnSaveStatus {
    color: #fff;
    padding: .8rem 1.5rem;
    background: hsl(197, 91%, 44%);
    margin-left: 2rem;
    border-radius: 3rem;
    cursor: pointer;
}


.address-inner .add-co {
    background: hsl(0, 1%, 17%);
    width: 35rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5rem;
}

.address-inner .add-co h2{
    color: #fff;
    margin-left: -22rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
}

.order-num{
    margin-left: -18rem;
    color: #fff;
}

.delivery_{
    margin-left: -15.6rem;
    margin-top: 1rem;
    color: #fff;
}

.ship{
    margin-left: -19rem;
    margin-top: 1rem;
    background: hsla(0, 11%, 93%, 0.763);
    border-radius: 3rem;
    padding: 1rem 1.5rem;

}

.shipment{
    margin-left: 10rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.addresss-left{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: rgb(199, 197, 197); 
}

.address-left-changed{
    background: rgb(199, 197, 197);
}

.address-left-changed-green{
    background: hsl(120, 97%, 38%); 
}

.middle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.last {
    width: 1rem;
    height: 10rem;
    border-radius: 1rem;
}

.icon-smile {
    animation: moveUpDown 3s infinite alternate;
}

@keyframes moveUpDown {

    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-2rem);
    }

}

.showTrack {

    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);

}

.hideTrack {
    clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 0);
}

.surround-left{
    display: flex;
}

.order-paid{
    margin-left: -10rem;
    margin-bottom: -1rem;
}

.paid{
    margin-right: -10rem;
    margin-bottom: -1rem;
    
}

.shipped{
    margin-right: -10rem;
    margin-bottom: -1rem;
}

.shipped-date{
margin-left: -10rem;
}



.address-right {
    margin: .6rem 0rem;

}

.addresss-right{
    width: 1rem;
    height: 10rem;
    border-radius: 1rem;
    margin-bottom: -2rem !important;
}

.deliver-date{
    margin-top: -2rem;
    margin-left: -10rem;
}

.parcel_num{
    margin-top: 0.6rem;
}

.shipped{
    margin-bottom: -2.2rem;
}

.shipped span{
    margin-bottom: 1rem !important;
}

.face{
    color: #fff;
    border-radius: 50%;
    font-size: 2rem;
}


.showShipped{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.hideShipped{
    clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 0);
}


.showShippedDate{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.hideDate{
    clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 0);
}

.showDeliveryDate{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.hideDeliveryDate{
    clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 0);
}


.showDeliveryAddress{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.hideDeliveryAddress{
    clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 0);
}

.track{
    margin-top: -2rem;
}


/*<span>{`R${item.totalAmount}`}</span> */