.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    background: hsl(120, 100%, 25%);
    padding: 1.2rem 2%;
    z-index: 10000;
}

.food-icon-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    color: #fff;
    font-size: 1.3rem;
    margin-left: 3.3rem;

}

.nav a:hover {
    color: hsl(120, 94%, 35%);
    cursor: pointer;
    border-radius: .5rem;
}

.bars {
    display: none;
    color: #fff;
}

.btnLogin {
    color: #fff;
    background: hsl(120, 87%, 44%);
    padding: 1rem 2rem;
    border-radius: 3rem;
    cursor: pointer;
    margin-right: 2rem;
}

.login-containe {
    display: flex;
    align-items: center;
}

.show {
    transform: translateX(0);
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.admin-container span {
    color: #fff;
    font-size: 1.2rem;
}

.side-bar-container {
    margin-top: 4rem;
    background: hsl(197, 89%, 29%);
    width: 20rem;
    height: 80rem;
    position: relative;
    z-index: 10;
}

.side-bar-inner {
    display: flex;
    flex-direction: column;
    padding: 0rem 20%;
    position: sticky !important;
    top: 1rem !important;
}

.side-bar-inner p {
    color: #fff;
    display: flex;
    align-items: center;
    padding-top: 2rem;
    margin-bottom: -1rem;
}

.welcome-burner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -76rem;
    background: #fff;
    height: 10rem;
    width: 100%;
}

.bars{
    display: block;
}

.hideSideBar{
    transform: translateX(-100%);
}

.showSideBar{
transform: translateX(0);
}

.side-bar-inner a:nth-child(1){
    padding-top: 2rem;
}

.showSide{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
}