.NewFood-box-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.NewFood-box{
    flex: 1 1 18rem;
    height: 35rem;
    margin-bottom: 8rem;
    border: .1rem solid hsl(0, 2%, 69%);
    border-radius: .5rem;
    padding: 1.5rem;
    position: relative;
    margin-top: -3rem;
    background: hsl(351, 47%, 84%) !important;

}

.NewFood-box-container .NewFood-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.NewFood-box .content{
    margin-top: -7rem !important;
}


.flavors{
    color: hsl(39, 95%, 31%);
}

.latest{
    color: #333;
}

.btnOrder{
    background: hsl(197, 79%, 47%);
}