.order-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 150vh;
    margin-top: -3rem;
}

.order-inner {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 2rem;
    width: 38rem;
    border-radius: .5rem;
}

.store {
    color: #333;
    font-weight: 800;
    font-size: 1.6rem;
    margin-top: .8rem;
    margin-bottom: 2rem;
}

.order-inner p {
    color: #333;
    font-weight: 800;
    margin: .8rem 0rem;
}

.order-inner p span {
    color: red;
    font-weight: 400;
}

.btnPay {
    color: #fff;
    padding: .8rem 1.5rem;
    width: 100%;
    background: hsl(39, 98%, 41%);
    border-radius: 3rem;
    cursor: pointer;
}

.shipping-container {
    background: linear-gradient(360deg, hsl(197, 60%, 61%), #fff);
    width: 38rem;
    padding: 1rem;
}

.shipping-method span {
    color: #333;
    font-weight: 800;
}

.standard-s {
    text-align: center;
    margin-bottom: 1.2rem;
    background: #fff;
    width: 5rem;
    border: .2rem solid hsl(197, 91%, 47%);
    padding: .3rem;
    border-radius: .5rem;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

/* User-info for wrap and order-inner for width */
/* shipping container for for width */

.standard-s span {
    color: hsl(197, 94%, 24%);
}

.left-u{
    flex: 1 1 17rem;
}

.right-u{
    flex: 1 1 17rem;
}


.left-u input {
    margin: .4rem 0rem;
    padding: 1rem;
    width: 100%;
    border-radius: .5rem;
}

.right-u input {
    margin: .4rem 0rem;
    padding: 1rem;
    width: 100%;
    border-radius: .5rem;
}

.pay-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-method {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment-right {
    display: flex;
    flex-direction: column;
}

.payment-right p {
    margin: .5rem 0rem;
    color: #333;
    font-weight: 300;
}