.our-promise-container {
    margin-top: -2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}

.our-promise-inner h3{
    font-size: 1.2rem;
}

.our-promise-container .our-promise-inner {
    flex: 1 1 25rem;
    border: .2rem dashed purple;
    padding: 1rem;
    border-radius: .5rem;
    height: 18rem;
}

.right-button .btnDelete{
    margin-top: 1rem;
}

.our-promise-inner p {
    max-width: 65rem;
    line-height: 1.4;
    padding-bottom: 1rem !important;
}

.date-container {
    display: flex;
    align-items: center !important;
    justify-content: space-between;
}

.left-date {
    margin-top: -1.5rem;
}

.left-dat {
    color: #fff !important;
    background: hsl(300, 61%, 47%) !important;
    padding: .6rem 2rem;
    border-radius: 3rem;
}

.none {
    background: none;
}

.right-date {
    margin-top: -1.5rem;
}

.Our-Promise-Banner {
    margin-top: -5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center !important;
    justify-content: center;
    background: linear-gradient(90deg, hsl(300, 92%, 38%), hsl(39, 100%, 55%));
    height: 25rem;
}

.clock{
    margin-bottom: -8rem;
}

.Our-Promise-Banner h2{
    margin-top: 10rem;
    color: #fff;
    font-size: 2.8rem;
}

.arrow-left{
    margin-top: 2rem;
}

.right-button .btnDelete{
    background: red;
}

/*

Unique & Seasonal Offerings 
At Taste Hub, we're always innovating with new flavors and seasonal ingredients. Our menu changes with the seasons to bring you fresh, exciting options throughout the year, so there's always something new to discover and enjoy.
/*