.our-services-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.our-services-container .our-services-box {
    flex: 1 1 30rem;
    border: .1rem solid hsl(0, 6%, 80%);
    box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, .2);
    padding: 2rem;
    height: 50rem;
    margin-bottom: 3rem;
    overflow: hidden;
}

.our-services-container .our-services-box p {
    line-height: 1.6;
    max-width: 70rem;
}

.our-services-container .our-services-box img {

    width: 30rem;
    height: 50%;
    object-fit: contain;
    border-radius: 3rem;
    margin: 5rem auto !important;
    text-align: center;

}

.img-containers{
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn-container {
    margin-top: -8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -4rem;
    gap: 1rem;
}

.btn_edit {
    color: #fff;
    background: hsl(39, 95%, 45%);
    padding: .8rem 2rem;
    border-radius: 3rem;
    text-decoration: none;
}

.btn_delete {
    color: #fff;
    background: hsl(0, 97%, 47%);
    padding: .8rem 2rem;
    border-radius: 3rem;
    text-decoration: none;
}