.profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.profile-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    max-width: 35rem;
    border-radius: .5rem;
    padding: 2rem;
    margin: 0 auto;
}

.profile-inner img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;;
    object-fit: cover;
    cursor: pointer;
}

.input-container{
    display: flex;
}

.input-container input{
    border: .1rem solid hsl(0, 13%, 88%);
    border-radius: .3rem;
    padding: .8rem;
    width: 100%;
    margin: .5rem 0rem;
}

.profile-inner button{
    margin-top: 2rem;
    color: #fff;
    background: hsl(39, 100%, 50%);
    padding: .8rem 0rem;
    width: 100%;
    border-radius: 3rem;
    cursor: pointer;
}