.box-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;

}

.box {
    flex: 1 1 15rem;
    position: relative;
    cursor: pointer;
    background: hsl(351, 47%, 84%) !important;
    padding: 1.5rem;
    border: .1rem solid hsl(0, 2%, 69%);
    border-radius: .5rem;
    height: 35rem !important;
}


.box img {
    width: 100% !important;
    height: 100%;
}

.sec {
    padding: 2rem 5%;
}

.icon-container {
    position: absolute;
    top: 1.5rem;
    background: red;
    color: #fff;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.price {
    position: absolute;
    top: 6rem;
    left: 2rem;
    background: hsl(39, 94%, 52%);
    color: #fff;
    font-weight: 800;
    width: 3rem !important;
    height: 3rem !important;
    line-height: 3 !important;
    padding: .5rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: -2rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -7rem !important;

}

.content p {
    color: hsl(0, 1%, 13%);
}

.btnOrder {
    background: hsl(39, 90%, 46%) !important;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    cursor: pointer;
    margin: 1rem 0rem;

}

.food {
    color: hsl(39, 96%, 35%);
}

.update_container {
    position: absolute;
    top: 4rem;
    right: 2rem;
}

.update_inner {
    display: flex;
    flex-direction: column;
}

.edit {
    margin-bottom: 1rem;
    color: hsl(120, 95%, 33%);
    font-size: 1.4rem;
    cursor: pointer;
}

.delete{
    color: hsl(0, 96%, 30%);
    font-size: 1.4rem;
    cursor: pointer;
}