.service-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.service-left{
    flex: 1 1 25rem;
}

.service-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-right{
    flex: 1 1 25rem;
    max-width: 30rem;
}

.service-right span{
    color: hsl(39, 98%, 33%);
    font-size: 2.2rem;
}

.more{
    color:red !important;
}

.multiple{
    color: hsl(43, 90%, 52%) !important;
}

.service-right p{
    line-height: 1.5;
}

.btnAbout{
    color: #fff;
    background: red;
    padding: .8rem 1.5rem;
    border-radius: 3rem;
    cursor: pointer;
}