.success-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.success-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 2rem 0rem !important;
    width: 100%;
    height: 20rem;
}

.success-inner span{
    color: #333;
    font-weight: 800;
    margin-top:  1.2rem ;
    font-size: 1.2rem;
}

.success-inner h5{
    margin-top: .2rem;
    font-size: 1rem;
}

.btnGo{
    color: #fff;
    background: red;
    padding: .8rem 2rem;
    border-radius: 3rem;
    cursor: pointer;
}