.verify-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.verification {
    background: #fff;
    padding: 5rem 1.5rem;
    width: 30rem;
    border-radius: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.verification {
    text-align: center;
}

.verification span {
    font-size: 2rem;
}

.button-co {
    display: flex;
    flex-direction: column;
}

.button-co button {

    color: #fff;
    background: hsl(120, 96%, 33%);
    padding: 1rem;
    border-radius: 3rem;
    width: 25rem !important;
    cursor: pointer;
}

.button-co input {
    width: 10rem;
    border: .1rem solid hsl(0, 12%, 87%);
    padding: .8rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    width: 100%;
}