.view-cart-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.view-cart-container p{
    color: #333;
    font-size: 1.5rem;

}

.cart-table{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5rem;
    border-top: .1rem solid hsl(0, 7%, 81%);

}

.cart-table-inner{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5rem;
}

.cart-table-inner span img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
}

.con{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    gap: 2rem;
}

.con span img{
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    margin-bottom: 6rem;
}

.content{
    margin: 1rem 0rem;
}

.content span{
    font-size: .8rem;
    font-weight: 800;
}

.button-container button{
    margin: 1rem 0rem;
}

.button-container{
    display: flex;
    align-items: center;
}

.btnDecre{
    background: hsl(300, 97%, 41%);
    color: #fff;
    border-radius: 50%;
    font-size:1.5rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}

.btnQty{
    background: #fff;
    width: 2rem;
    height: 2rem;
    line-height: 2;
    color: purple;
    margin: 0rem .8rem !important;
}

.btnIncre{
    background: hsl(300, 97%, 41%);
    color: #fff;
    border-radius: 50%;
    font-size:1.5rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}

.content-price-total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -1.5rem;
}

.check-container button{
    color: #fff;
    background: red;
    padding: .8rem 1.5rem;
    border-radius: 3rem;
    cursor: pointer;
}

.grand-tot{
    display: flex;
    flex-direction: column;
}

.grand-tot span{
    margin: .5rem 0em;
    font-weight: 300;
}

table{
    width: 100% !important;
    table-layout: fixed;

}

.checkout{
    background: hsl(300, 96%, 42%) !important;
}